$b:1px solid blue;

.calc {
  position: fixed;
  top: 10vh;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;

  .calc-result {
    height:24%;
    background-color: #dbe1dc;
  }

  .calc-row {
    display: flex;
    flex:1;

    .calc-btn{
      flex:1;
      margin: 0.1em;
      background-color: #A5CBAA;
    }
  }
}