@mixin header-btn {
  width:10%;
  height:100%;
  border:none;
  background-color: #a5cbaa;
}

.header {
  position: fixed;
  top:0;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  background-color: #a5cbaa;

    .hamburger-menu {
      @include header-btn();
    }
    h1 {
      color: #B6916B;
    }
    .info-btn {
      @include header-btn();
    }
}